@page "/"

<PageTitle>Blazor 8 Lifecyle examples</PageTitle>

<h1>Lifecycle examples</h1>
<div><NavLink href="demonstrate"> Lifecycle demonstration</NavLink></div>
<div><NavLink href="initialize-and-dispose"> Intitialisering och Dispose faserna </NavLink></div>
<div><NavLink href="parameters-set"> Parameters Set fasen </NavLink></div>
<div><NavLink href="after-render">After Render Phase</NavLink></div>
