@page "/demonstrate"
@using ComponentLifecycle.Services
@using BlazorApp8LifeCycleExample.SubComponents
@inject LoggingService LoggingService   
@implements IDisposable
@rendermode InteractiveServer

<div>
    <div> 
        <button @onclick="()=>ToggleComponent()">Toggle Sample Component</button>
    </div>
    <div>
        @if (ShowComponent)
        {
            <SampleComponent />
        }
    </div>
</div>


@foreach (var log in LoggingService.Logs)
{
    <p><strong>@log </strong> called</p>
}

@code {
    protected override void OnInitialized() 
    {
        LoggingService.Logs.CollectionChanged +=RefreshPage;
    }
    public void Dispose()
    {
        LoggingService.Logs.CollectionChanged -= RefreshPage;
    }
    private void RefreshPage(object sender,EventArgs args)
    {
        InvokeAsync(StateHasChanged);
    }
    public bool ShowComponent { get; set; } 
    private void ToggleComponent()
    {
        ShowComponent = !ShowComponent;
    }
}

