@page "/parameters-set"
@using BlazorApp8LifeCycleExample.SubComponents
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<h3>ParameterSetPhase</h3>

<div>
    <SimpleChildComponent ComponentParameter="@Parameter" />
    <button @onclick="()=>Parameter = RandomString()">Uppdatera Componentparameter</button>
</div>

<div>
   <div> Url Parameter: @UrlParameter  </div>
    <a href="/parameters-set?UrlParameter=@RandomString()">Uppdatera UrlParameter</a>
</div>

@code {
    public string Parameter { get; set; } = "";   
    private Random _random = new Random();


    [Parameter]
    [SupplyParameterFromQuery]
    public string? UrlParameter { get; set; } = "";


    protected override void OnParametersSet() => JSRuntime.InvokeVoidAsync("alert", "Nu triggas ParameterSet fasen på PARENT komponenten");
    
    private string RandomString() {
        const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        return new string(Enumerable.Repeat(chars, 5)
            .Select(s => s[_random.Next(s.Length)]).ToArray());
    
    }


}
